* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "黑体", "宋体", Arial,sans-serif;
    background-color: #666;
}
#allcontent {
    width: 960px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 0 35px;
}
/*------------头部--------------*/
header {
    height: 61px;
    width: 100%;
    border-bottom: #938e8c solid 2px;
    
    font-size: 12px;
    position: relative;
}
header div {
    width: 110px;
    height: 61px;
    background: #d45d5c;
    color: #fff;
    
    float: left;
}
.bottom {
    position: absolute;
    bottom: 2px;
}

header p {    
    left: 5px;
}    
header time {
    right: 0px;
    color: #d45d5c;
}

/*------------内容--------------*/
#part1,
#part2,
#part3 {
    margin: 35px 0;
}
/* 左上图片 */

#picture1 {
    width: 641px;
    position: relative;
    
    float: left;
}
.cover {
    width:191px;
    height:301px;
    position:absolute;
    opacity:0.4;
    filter:alpha(opacity=40);

}
.cover-left {    
    background-color:#418c59;
}
.cover-right {
    background-color:#cc7680;
    right:0;
}

/*右上文字*/
#content1 {
    border-top: solid 2px #cc8091;
    position: relative;
    margin: 0 5px 5px 711px;
    
}

.about {
    font: 20px "微软雅黑" ;
    color: #000;
    text-decoration: underline;
}
.about:first-letter {
    font-size: 24px;
}
.txt {
    font: 12px "楷体";
    line-height: 10px;
    color: #676767;
}
#txt700 {
    font: italic bold 116px "微软雅黑";
    color: #75b86b;
}
.txtcss {
    font-family: "微软雅黑";
    color: #cc8091;
}
.txt32 {
    font-size: 55px;
    float: left;
}
.txtc {
    font-size: 21px;
    padding-top: 18px;
}
.txtss {
    font-size: 12px;
}
/* 中间三栏 */
#part2 {
    width: 650px;

}
.content {
    color: #767777;
    font-size: 12px;
    font-family: "宋体";
    line-height: 16px;
    letter-spacing: 1px;
}
.pragra {
    width: 190px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
h2 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    font-family: "微软雅黑";
    margin: 10px 0;
    letter-spacing: 0px;
}
.what {
    color: #418c59;
}
.when {
    color: #d2994f;
}
.how {
    color: #cc7680;
}
.sub {
    margin: 30px 0 0 0;
    color: #231815;
    opacity: 0.7;
    font-family: "微软雅黑";
}
strong {
    font-style: italic;
    color: #cd4248;
    font-weight: normal;
}


/*左边文章*/
#left {
    width: 45%;
    display: inline-block;
}
h1 {
    color: #11456b;
    font-weight: bold;
    font-family: "黑体";
}
.en {
    font-size: 42px;
}
.en strong {
    color: #f5e327;
    font-size: 72px;
    font-weight: bold;
}
.zh {
    font-size: 33px;
}
.indent {
    text-indent: 26px;
}
#left p {
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid #11456b 2px;
}
p img {
    float: right;
    margin: 16px;
}
span.firstchild {
    color: #f5e327;
    font-size: 70px;
    float: left;
    margin: 20px 8px 8px 0;
    display: inline-block;
    height: 50px;
    font-family: "微软雅黑";
}

/*右下内容*/
#right {
    display: inline-block;
    vertical-align: top;
    width: 458px;
    float: right;
}
#right img {
    vertical-align: bottom;
}
#right > div {
    position: relative;
}
.cover-bottom {
    width: 458px;
    height: 61px;
    position: absolute;
    opacity: 0.6;
    bottom: 0;

    background-color: #000;
    color: #fff;
}
.bar {
    width: 3px;
    height: 44px;
    display: inline-block;
    background-color: #72b16a;
    vertical-align: middle;
    margin: 8px 20px 9px 40px;
}
.headbar {
    display: inline;
    font-family: "微软雅黑";
    font-size: 26px;
    vertical-align: middle;
}
.bar2 {
    font-size: 12px;
    color: #72b16a;
    word-spacing: 140%;
    
    font-style: italic;
}
#outline {
    margin: 35px 0;
    padding: 30px 0px 10px 50px;
    background-color: #eeedd6;
    position: relative;
}
#right ul {
    list-style-image: url(images/liststyle.png);
    font-size: 16px;
    color: #5a5b5b;
    font-family: "宋体";
    line-height: 40px;
}
ul strong {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    color: #5a5b5b;
}
#one {
    width: 260px;
    height: 160px;
    background-color: #d45d5c;
    float: left;
    margin-left: -50px;
    color: #fff;
}
#quote {
    margin: 20px 0 20px 200px;
    padding: 20px;
    
    font-family: "黑体";
    font-size: 14px;
    color: #5a5b5b;
    line-height: 16px;
    font-style: italic;
}
.quotation {
    color: #d45d5c;
    font-size: 72px;
    font-style: normal;
    display: inline-block;
    position: relative;
    
    width: 42px;
    vertical-align: top;
}
.bf {
    left: -40px;
    bottom: -16px;
}
.bh {
    right: -12px;
    bottom: -30px;
}
.zero {
    font-size: 110px;
    font-family: "微软雅黑";
    float: left;
    margin: 7px;
}
.divided {
    width: 2px;
    height: 86px;
    background-color: #fff;
    margin-top: 37px;
    margin-right: 10px;
    float: left;
}
.onetofive {
    font-family: "黑体";
    font-size: 21px;
    line-height: 24px;
    font-style: italic;
    margin-top: 37px;    
}
.hello {
    font-family: "黑体";
    font-size: 12px;
    line-height: 18px;
}
footer {
    height: 61px;
    width: 100%;
    border-top: #938e8c solid 1px;
    position: relative;
}
.top {
    position: absolute;
    top: 2px;
right: 0px;
    font-size: 12px;
    color: #d45d5c;
    font-family: "黑体";
}
